.homepage {
    font-family: 'Arial, sans-serif';
    color: #fff;
    background-color: #181818;
    padding: 0;
    margin: 0;
    margin-top: 120px;
  
    .hero {
      position: relative;
      height: 1000px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
  
      .hero-slider {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
  
        .hero-slide-image {
          width: 100%;
          height: 150%;
          object-fit: cover;
          opacity: 0.7;
        }
      }
  
      .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-align: center;
  
        .hero-title {
          font-size: 3rem;
          font-weight: bold;
          margin-bottom: 1rem;
          text-transform: uppercase;
        }
  
        .hero-subtitle {
          font-size: 1.5rem;
          margin-bottom: 2rem;
        }
  
        .hero-button {
          background-color: #004aad;
          color: #fff;
          border: none;
          padding: 1rem 2rem;
          font-size: 1rem;
          text-transform: uppercase;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #002d68;
          }
        }
      }
    }
  }
  